#                        Welcome To Our Challenge
                                100 Days of Code Challenge

                    Challenge Accepted by YOUTUBER:   SANCHIT AGRAWAL

                        YOUTUBE CHANNEL Name: Sanchit Agrawal

#                                           DAY 11
                                         LET'S BEGIN

# For Loop in Python

for loops can iterate over a sequence of iterable objects in python. Iterating over a sequence is nothing but iterating over strings, lists, tuples, sets and dictionaries.

# Iterating over string

In [21]:
x = 'python is good '
for i in x:
    print(i)

p
y
t
h
o
n

In [24]:
x = 'sanchit'
for i in x:
    print(i, end= '-')

s-a-n-c-h-i-t-

# iterating over list

In [26]:
lis = ['red', 'white', 'green']
#index   0       1       2
for i in lis:
    print(i)
    for c in i:
        print(c)

red
r
e
d
white
w
h
i
t
e
green
g
r
e
e
n

# Range with loop

In [27]:
for e in range(5): #-1
    print(e)

0
1
2
3
4

In [28]:
for u in range(100,106):
    print(u)

100
101
102
103
104
105

# real life use

In [35]:
table = int(input('enter any number; '))


for i in range(1,11):
    print('{} x {} = '.format(table,i),(i*table))

enter any number; 39
39 x 1 =  39
39 x 2 =  78
39 x 3 =  117
39 x 4 =  156
39 x 5 =  195
39 x 6 =  234
39 x 7 =  273
39 x 8 =  312
39 x 9 =  351
39 x 10 =  390